* {
    /* Universal font for whole document */
    font-family: Verdana, sans-serif;
}

.header-container {
    /* Colour for top part of container/header */
    background-color: #1F2937;
    border: 5px solid red;
}

header {
    /* Settings for top header */
    width: auto;
    margin-inline: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 250px;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0.5rem;
    gap: 50px;
    border: 5px solid blue;
}

a.header-logo {
    /* Alignment and sizing for 'Header Logo' in header*/
    margin-right: auto;
    font-size: 24px;
    padding: 0.5rem;
    color: #F9FAF8;
    font-weight: 900;
}

a.header-logo,
.header-link {
    /* Removing text decorations for links in header*/
    text-decoration: none;
}



a.header-link {
    /* Font sizing and colour for header links */
    font-size: 18px;
    color: #E5E7EB;
}

body {
    /* Removing margin from body to allow colour to reach edges */
    margin: 0;
}

.hero-container {
    border: 5px solid purple;
    width: auto;
    margin-inline: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 250px;
    margin-top: 0;
    margin-bottom: 150px;
    padding: 1rem;
    border: 5px solid blue;
}

.hero-main {
    margin-right: auto;
    flex: auto;
}

.hero-main-title {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-image {
    padding: 0;
    padding-left: 100px;
    width: 1800px;
    height: 300px;
}

#hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

#sign-up {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 900;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 10px;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-style: none;
}